/************************************
Reset
*************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************
Globals
*************************************/
body {
  background-color: #eeeeee;
}
/************************************
Container
*************************************/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: black;
}

.card {
  width: 500px;
  height: 250px;
  background-color: #eeeeee;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  box-shadow: -12px -12px 12px rgb(255, 255, 255, 0.9),
    12px 12px 20px rgb(0, 0, 0, 0.1);
}

button {
  padding: 10px;
  border-radius: 20px;
  margin: 30px;
}
